<div id='map' class='map'> </div>


{{!-- <div id='chart'> </div>
 --}}<script type="text/javascript" src="/javascripts/comparisons.js"></script>
<script type="text/javascript" src="/javascripts/update.js"></script>
