  <div id="menu" class="panel" role="navigation">
    <ul>
      <li>
        <div class="side-by-side clearfix">
          <select id="microbes" data-placeholder="Select a Microbe..." multiple class="chosen-select">
            <option>CERATIUM TRIPOS ATLANTICUM</option>
            <option>PROROCENTRUM GRACILE</option>
            <option>PROTOPERIDINIUM TRUNCATUM</option>
            <option>RHIZOSOLENIA HEBETATA SEMISPINA</option>
          </select>
        </div>
      </li>
      <li><a href="#clusters"><span class="icon-book nav-icon"></span>Clusters</a></li>
      <li><a href="#submit"><span class="icon-cog nav-icon"></span>Submit</a></li>
    </ul>
  </div>

  
  <div class="wrap push">
    <a href="#menu" id="nav-toggle" class="menu-link">&#9776;</a>  
  </div> <!-- /.wrap -->

  <div>
    <div id='map' class='map'> </div>
  </div>

  {{!-- <div id='chart'> </div> --}}

  <script type="text/javascript" src="/javascripts/bigSlide.js"></script>
  <script>
  $(document).ready(function() {
    $('.menu-link').bigSlide();
    $("#microbes").chosen({width: "100%", placeholder_text_multiple:"Select Biology" });
  });
  </script>

  <script type="text/javascript" src="/javascripts/comparisons.js"></script>
  <script type="text/javascript" src="/javascripts/update.js"></script>



