 <div id="menu" class="panel" role="navigation">
  <ul>
    <li><div class="side-by-side clearfix">
      <select data-placeholder="Your Favorite Types of Bear" multiple class="chosen-select" tabindex="8">
        <option value=""></option>
        <option>American Black Bear</option>
        <option>Asiatic Black Bear</option>
        <option>Brown Bear</option>
        <option>Giant Panda</option>
        <option selected>Sloth Bear</option>
        <option disabled>Sun Bear</option>
        <option selected>Polar Bear</option>
        <option disabled>Spectacled Bear</option>
      </select></div></li>
      <li><a href="https://raw.github.com/ascott1/bigSlide.js/master/dist/bigSlide.min.js"><span class="icon-download nav-icon"></span>Compressed </a></li>
      <li><a href="https://raw.github.com/ascott1/bigSlide.js/master/dist/bigSlide.js"><span class="icon-download nav-icon"></span>Uncompressed</a></li>
      <li><a href="#how"><span class="icon-book nav-icon"></span>How to</a></li>
      <li><a href="#options"><span class="icon-cog nav-icon"></span>Options</a></li>
    </ul>
  </div>

  
  <div class="wrap push">
    <a href="#menu" id="nav-toggle" class="menu-link">&#9776;</a>  
  </div> <!-- /.wrap -->

  <div class="wrap push">
    <!-- <div id='map' class='map'> </div> -->
  </div>

  {{!-- <div id='chart'> </div> --}}

  <script type="text/javascript" src="/javascripts/bigSlide.js"></script>
  <script>
  $(document).ready(function() {
    $('.menu-link').bigSlide();
  });
  </script>

  <script type="text/javascript" src="/javascripts/comparisons.js"></script>
  <script type="text/javascript" src="/javascripts/update.js"></script>
  <script src="/javascripts/prism.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/init.js" type="text/javascript" charset="utf-8"></script>


